body {
    background: linear-gradient(to top left, #3a6186, #faf9f9);  
    padding: 0%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #fff8dc;
}

.top {
    background-color: #1f2937;
    color: #fff8dc;
    padding: 0 150px;
    margin: 0%;
    height: 50px;
    font-size: 18px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0;
}
ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style-type: none;
}
a {
    list-style-type: none;
    text-decoration: none;
    color: #fff8dc;
    text-shadow: #fff8dc;
    font-weight: bold;
}

form {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 30px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #292603;
    margin: 3% 20%;
    text-align: center;
    padding: 50px;
    font-size: 17px;
}
footer {
    background-color: #1f2937;
    color: whitesmoke;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
}